.creation {
  max-width: 132rem;
  margin: 20rem auto;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.creationHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.creationHeading h2 {
  font-size: 5.4rem;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-weight: 300;
}

@media (max-width: 768px) {
  .creation {
    margin-top: 35rem;
  }

  .creationHeading {
    justify-content: center;
  }

  .creationHeading button {
    display: none;
  }
}
