.header {
  width: 100%;
  padding: 7.5rem 15rem;
  display: flex;
  justify-content: space-between;
}

.toggleIcon {
  cursor: pointer;
  display: none;
}
.logo {
  width: 22.5rem;
}

.navList {
  list-style: none;
  display: flex;
  gap: 4.2rem;
}

.navList li a:link,
.navList li a:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--color-white);
  display: inline-block;
  position: relative;
  padding-bottom: 1rem;
}

.navList li a::after {
  content: "";
  height: 3px;
  width: 4rem;
  background-color: var(--color-white);
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: transform 0.3s ease;
}

.navList li a:hover::after {
  transform: translateX(-50%) scale(1);
  transform-origin: center;
}

@media (max-width: 768px) {
  .header {
    padding: 7.5rem 3rem;
  }

  .header nav {
    display: none;
  }

  .header.navOpen nav {
    display: block;
    position: absolute;
    background-color: var(--color-black);
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
  }

  .header.navOpen .navList {
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 0 3.5rem;
    text-transform: uppercase;
    gap: 2rem;
  }

  .navList li a:link,
  .navList li a:visited {
    font-family: var(--font-secondary);
    font-size: 2.4rem;
    font-weight: 300;
  }

  .logo {
    width: 16rem;
    z-index: 999;
  }

  .toggleIcon {
    display: block;
    z-index: 999;
    display: inline-block;
  }
}
